@import 'src/assets/scss/_globals.scss';

.users--list {
    margin-top: 25px;

    .user--card {
        border: #673ab7 solid 1px;
        border-radius: 12px;
        min-width: 450px;

        @media (min-width: 285px) and (max-width: 959.98px) {
            min-width: 90%;
        }

        &--content {
            p {
                a:link {
                    color: #0069c2;
                    text-decoration-line: underline;
                    text-decoration-color: #0069c2;
                }
                
                a:visited {
                    color: purple;
                    text-decoration-line: underline;
                    text-decoration-color: purple;
                }
            }
        }

        &--actions {
            padding: 16px !important;
        }
    }
}